.feedback {width:700px;height:700px;margin:150px;}
h1{font-size:100px;border-bottom:2px solid ;font-family:georgia;color:white;}
table{font-size:25px;color:white;}
h2.text{font-size:30px;color:white;}
button{padding:15px;color:#fff;background:#571b7e;border-radius:20px;transition:0.3s;font-size:20px;}
button:hover{padding:15px;color:#571b7e;background:#fff;border-radius:20px;transition:0.3s;font-size:20px;}
