table.my_table{
    font-family: cursive;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    margin: 50px auto;

}
 td.td1 , th.th1{
  text-align: left;
  padding: 8px 9px;
 


}
th.th1{
    background-color: rgb(0, 0, 0);
    color: white;
}
tr:nth-child(even).tr1 {
    background-color: #fffdfd;
  }
  tr:nth-child(odd).tr1 {
      background-color: #dddddd;
  }
  img.img2{
    width: 24px;
    height: 24px;
    border-radius: 50%;

  }