
body{
    font-family: "Open-Sans" , sans-serif;
    background-color: rgb(56, 4, 94);
margin:auto;
}
ul{
    list-style: none;
}
.container{  
    padding-left: 0px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
nav{
    flex: 1;
}
header{
    height: 100px;
    -webkit-background-size:cover ;
    background-size: cover;
    background-position: center center;
    position:relative ;
}
header .container::after{
    content: "";
    background-color: #fff;
    bottom: 0;
    position: absolute;
    height: 1px;
    width:calc( 100% - 85px);
}
.nav-area{
    float:right;
    list-style: none;
    margin-top: 50px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color:#fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family:poppins;
    font-size:14px;
}
.nav-area li a:hover{
    background: #fff;
    color: #333;
    transition: all 0.8s;
    border-radius: 40px;
}
.logo img{
    background-color: #fff;
    float:left;
    height: 100px;
    border-radius: 30px;
}
.box-container {
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

.footer {
    background-color: rgb(8, 28, 88);
margin-top:500px;
display: block;
}

.footer .box-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

}
.footer .box-container .box {
    padding: 1rem 0px;
    flex: 1 1 25rem;
}
.footer .box-container .box h3 {
    color: rgba(213, 205, 205, 0.83);
    padding: 10px;
}
.footer .box-container .box a {
    text-decoration: none;
    list-style: none;
    color: white;
    display: block;
    padding: 10px;
}
.number{
    color: white;
}

.footer .box-container .box a:hover {
    color: black;
    background-color: white;
    border-radius: 20px;
    transition: all 0.5s;
}
.footer h2 {
color: white;
background-color:rgb(7, 33, 112);
padding: 10px 0px;
width: 100%;
}
/*shop page*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.categories{
	margin: 70px 0;
}

.col-4{
	flex-basis: 25%;
	min-width: 250px;
 margin-bottom: 50px;
padding: 10px;
transition: transform 0.7s;
}
.col-4 img {
	width: 100%;
}
.small-container{
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
	max-height:1080px;
}
.title2{
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	color: white;
}
.title2::after{
	content: '';
	background:#ff523b;
	width: 80px;
	height: 5px;
	border border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50px);
}
.col-4 h4{
	font-weight: normal;

color:white;
}
.link{
	text-decoration: none;
	color: black;
}
.col-4 p{
	font-size: 20px;
}
.pound {
color:white;
}
.col-4:hover{
	transform: translateY(20px);
	background-color:#ff523b;
}
.dropbtn{
	background-color: #ff523b;
	color: white;
	padding: 12px;
	font size: 15px;
	border: none;
}
.dropdown{
	background-color: black;
	display: inline-block;}

div #mydropdown{
background-color: black;
	padding: 15px;
	display: none;
}
.dropdown:hover div #mydropdown{
	display: block;
}
.disc{
	color: red;
}
.disc2{
	display: none;
}
.col-4:hover .disc2{
	display: block;
}
/*cart page*/
.cart-page{
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
	max-height:1080px;
margin-top:15px;
}
.cart-page table{
	width:100% ;
	border-collapse: collapse;

}
.cart-info{
	display: flex;
 flex-wrap:wrap;
}
.cart-info small{
color:white;
}
.prc{
color:white;
}
.product-name{
color:white;
} 
th{
	text-align: left;
	padding: 5px;
	color: white;
	background: #ff523b;
	font font-weight: normal;
}
td img{
	height: 80px;
	width: 80px;
margin-right: 10px;
}
td{
	padding: 10px 5px;
}
td input{
	width: 40px;
	height: 30px;
	padding: 5px;
}
td a{
	color: #ff523b;
	font-size: 12px;
}
.total-price{
	display: flex;
	justify-content: flex-end;
	font-size: 20px;
color:white;
}
.total-price table {
	border-top: 3px solid #ff523b;
	width: 100%;
	max-width: 420px;
}
td:last-child{
	text-align: right;
}
th:last-child{
	text-align: right;
}
.buy-btn{
	display:inline-block;
	font-size: 20px;
	background-color:#ff523b ;
	color: white;
	border: none;
	width: 90px;
	height:45px;
	text-align: center;
	padding-top: 10px;
	cursor: pointer;
}
.buy-btn:hover{
	background-color:darkred;
}

